// this is a indicator mixin 
@mixin indicator {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3px;
    direction: rtl;
    z-index: 20;
    .indicator {
        width: 0;
        height: 100%;
        background: linear-gradient(red, orange);
        box-shadow: 0 3px 7px rgb(255, 139, 139);
    }
}

@mixin titr-rows {
    text-align: center;
    margin: 90px 100px 0 100px;
    padding: 0 40px;
    h4 {
        font-family: "Changa One", cursive;
        font-weight: unset;
        font-size: xx-large;
    }
    p {
        font-weight: bold;
        line-height: 2;
    }
}

// before for new product 
@mixin new {
    content: "new";
    color: white;
    background-color: red;
    padding: 5px 10px;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    right: 15px;
}

@mixin icons {
    a {
        text-decoration: none;
        color: black;
        font-size: medium;
        margin: 0 6px;
        padding: 5px;
        border-radius: 15%;
        transition: ease all .5s;
        i {
            font-weight: bold;
        }
        &:hover {
            background: brown;
            border-radius: 50%;
            color: whitesmoke;
            transition: ease all .5s;
        }
    }
}

@mixin sticky {
    background-color: rgba(255, 255, 255, 0.877);
    border-radius: 0 0 15px 15px;
    padding: 20px 25px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: ease-in-out all .5s;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
    -webkit-transition: ease-in-out all .5s;
    -moz-transition: ease-in-out all .5s;
    -ms-transition: ease-in-out all .5s;
    -o-transition: ease-in-out all .5s;
}

// flex column
@mixin flex_column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/* -------------------- start the coding . . .*/

html,
body {
    scroll-behavior: smooth;
}

body {
    /* --------------- container for all header for responsive */
    .loader-container {
        position: absolute;
        z-index: 10;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.932);
        min-height: 100vh;
        transition: ease all .5s;
        .loader {
            width: 150px;
            height: 150px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            span {
                width: 15px;
                height: 15px;
                border-radius: 10px;
                margin: 10px auto;
                box-shadow: 1px 5px 5px rgb(255, 193, 101);
                background-color: rgb(224, 0, 0);
                -webkit-animation: loading 1s linear infinite;
                animation: loading 1s linear infinite;
                @-webkit-keyframes loading {
                    0% {
                        height: 15px;
                    }
                    50% {
                        height: 90px;
                    }
                    100% {
                        height: 15px;
                    }
                }
                @keyframes loading {
                    0% {
                        height: 15px;
                    }
                    50% {
                        height: 90px;
                    }
                    100% {
                        height: 15px;
                    }
                }
            }
        }
    }
    .loaded {
        opacity: 0;
        visibility: hidden;
    }
    // start the coding indicator
    .indicator-container {
        @include indicator();
    }
    .container {
        .row {
            transition: ease all .5s;
            .navbar {
                transition: ease all .5s;
                padding: 10px;
                text-align: center;
                /* ----------------- navbar */
                .navbar-brand {
                    color: rgba(0, 0, 0, .9);
                    font-size: 22px;
                    font-weight: 500;
                }
                .collapse {
                    text-align: center;
                    .navbar-nav {
                        margin: 0 100px;
                        text-align: center;
                        .nav-item {
                            margin: 0 2px;
                            .nav-link {
                                text-align: center;
                                padding: 10px 15px;
                                font-weight: 500;
                                transition: ease all .5s;
                                &:hover {
                                    color: #e60202;
                                    transition: ease all .5s;
                                }
                            }
                            .active {
                                background: rgb(255, 65, 65);
                                color: white;
                                border-radius: 10px;
                                transition: ease-in all .5s;
                                -webkit-transition: ease-in all .5s;
                                -moz-transition: ease-in all .5s;
                                -ms-transition: ease-in all .5s;
                                -o-transition: ease-in all .5s;
                                -webkit-border-radius: 10px;
                                -moz-border-radius: 10px;
                                -ms-border-radius: 10px;
                                -o-border-radius: 10px;
                            }
                        }
                    }
                }
                .icons {
                    @include icons();
                }
            }
            // sticky mode fot all size ------>
            .sticky {
                @include sticky();
            }
        }
    }
    header {
        /*---------------- slider */
        .carousel {
            .carousel-inner {
                .carousel-item {
                    position: relative;
                    img {
                        border-radius: 0 0 30px 30px;
                    }
                    .carousel-caption {
                        position: absolute;
                        left: 60px;
                        top: 35%;
                        text-align: left;
                        h3 {
                            font-size: small;
                            font-weight: bold;
                        }
                        h1 {
                            font-size: 50px;
                            font-family: 'Changa One', cursive;
                            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.664);
                        }
                        p {
                            width: 50%;
                            font-weight: bold;
                        }
                        a {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .head {
            @include titr-rows;
        }
        .row {
            background: none;
            .col {
                .card {
                    border: none;
                    background: none;
                    a {
                        text-decoration: none;
                        img {
                            border-radius: 50%;
                            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.356);
                            transition: ease all 0.5s;
                            overflow: hidden;
                            &:hover {
                                transform: translateY(-10px);
                                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.555);
                                cursor: pointer;
                                transition: ease all .5s;
                            }
                        }
                    }
                    .card-body {
                        text-align: center;
                        h5 {
                            font-family: 'Changa One', cursive;
                            font-weight: unset;
                            font-size: larger;
                        }
                    }
                }
            }
        }
        .trends {
            margin: 100px 0 0 0;
            .col {
                .card {
                    border: none;
                    border-radius: 10px;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.295);
                    transition: ease all .5s;
                    position: relative;
                    &:hover {
                        transform: translateY(-15px);
                        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.637);
                        cursor: pointer;
                        transition: ease all .5s;
                    }
                    img {
                        border-radius: 10px;
                    }
                    .card-img-overlay {
                        display: flex;
                        flex-direction: column;
                        align-items: baseline;
                        justify-content: center;
                        border-radius: 10px;
                        h5 {
                            font-size: 15px;
                        }
                        h4 {
                            font-size: 20px;
                            color: white;
                            text-shadow: 0 2px 2px rgb(0, 0, 0);
                            font-weight: bold;
                        }
                        a {
                            text-shadow: 0 2px 2px rgba(255, 255, 255, 0.856);
                            text-decoration: none;
                            color: rgb(7, 0, 0);
                            border-bottom: 1px solid rgb(7, 0, 0);
                            padding: 5px 0;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .trendig {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .row {
                .col {
                    .card {
                        border-radius: 10px;
                        box-shadow: 0 2px 5px rgba(2, 2, 2, 0.397);
                        transition: ease all .5s;
                        &:hover {
                            cursor: pointer;
                            transform: scale(1.05);
                            transition: ease all .4s;
                            -webkit-transform: scale(1.05);
                            -moz-transform: scale(1.05);
                            -ms-transform: scale(1.05);
                            -o-transform: scale(1.05);
                            -webkit-transition: ease all .4s;
                            -moz-transition: ease all .4s;
                            -ms-transition: ease all .4s;
                            -o-transition: ease all .4s;
                        }
                        img {
                            background-color: #eaeaea;
                            overflow: hidden;
                            height: 230px;
                            padding: 10px;
                            border-radius: 10px;
                            -webkit-border-radius: 10px;
                            -moz-border-radius: 10px;
                            -ms-border-radius: 10px;
                            -o-border-radius: 10px;
                            transition: ease-in-out all .4s;
                        }
                        .card-body {
                            padding-bottom: 0;
                            transition: ease-in-out all .4s;
                            -webkit-transition: ease-in-out all .4s;
                            -moz-transition: ease-in-out all .4s;
                            -ms-transition: ease-in-out all .4s;
                            -o-transition: ease-in-out all .4s;
                            position: relative;
                            .stars {
                                margin-bottom: 10px;
                                .bi-star-fill {
                                    color: goldenrod;
                                }
                            }
                            .text {
                                transition: ease-in-out all .3s;
                                // h5 {}
                                // p {}
                                a {
                                    visibility: hidden;
                                    opacity: 0;
                                    position: absolute;
                                    left: 5%;
                                    width: 90%;
                                    transition: ease-in-out all .3s;
                                }
                            }
                        }
                        &:hover .card-body {
                            transform: translateY(-87px);
                            background: white;
                            border-radius: 30px 30px 0 0;
                            transition: ease-in-out all .4s;
                            -webkit-transform: translateY(-87px);
                            -moz-transform: translateY(-87px);
                            -ms-transform: translateY(-87px);
                            -o-transform: translateY(-87px);
                            -webkit-transition: ease-in-out all .4s;
                            -moz-transition: ease-in-out all .4s;
                            -ms-transition: ease-in-out all .4s;
                            -o-transition: ease-in-out all .4s;
                        }
                        &:hover {
                            .card-body {
                                .text {
                                    a {
                                        visibility: visible;
                                        opacity: 1;
                                        transform: translatexY(0px);
                                        -webkit-transform: translateY(0);
                                        -moz-transform: translateY(0);
                                        -ms-transform: translateY(0);
                                        -o-transform: translateY(0);
                                        transition: ease-in-out all .3s;
                                    }
                                }
                            }
                        }
                        &:hover {
                            img {
                                filter: sepia(0.15);
                                transition: ease-in-out all .4s;
                                -webkit-transition: ease-in-out all .4s;
                                -moz-transition: ease-in-out all .4s;
                                -ms-transition: ease-in-out all .4s;
                                -o-transition: ease-in-out all .4s;
                            }
                        }
                        .new {
                             ::before {
                                @include new();
                            }
                        }
                    }
                }
            }
        }
        // coding main web 
        .timer {
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .container {
                .row {
                    background-image: url(../media/baner/1.jpg);
                    background-position: top;
                    background-size: cover;
                    padding: 50px;
                    border-radius: 30px;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    -ms-border-radius: 30px;
                    -o-border-radius: 30px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    .timer-item {
                        width: 60%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        .text {
                            direction: ltr;
                            h3 {
                                color: red;
                                font-size: 20px;
                            }
                            h1 {
                                color: black;
                                font-family: "Changa One", cursive;
                                font-size: 40px;
                            }
                            p {
                                width: auto;
                            }
                        }
                        #countdown {
                            ul {
                                padding: 0;
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-end;
                                align-items: center;
                                li {
                                    width: 100px;
                                    height: 100px;
                                    list-style: none;
                                    padding: 1em;
                                    text-transform: uppercase;
                                    background: white;
                                    border-radius: 50%;
                                    text-align: center;
                                    margin: 10px;
                                    span {
                                        display: block;
                                        font-size: 30px;
                                        color: black;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .red-icon-cards {
            margin-top: 100px;
            .row {
                .col {
                    .card {
                        padding: 5px;
                        border-radius: 30px;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.116);
                        transition: ease-out all .5s;
                        &:hover {
                            cursor: pointer;
                            transform: translateY(-20px);
                            transition: ease-out all .5s;
                            box-shadow: 0 6px 5px rgba(0, 0, 0, 0.37);
                            -webkit-transition: ease-out all .5s;
                            -moz-transition: ease-out all .5s;
                            -ms-transition: ease-out all .5s;
                            -o-transition: ease-out all .5s;
                            -webkit-transform: translateY(-20px);
                            -moz-transform: translateY(-20px);
                            -ms-transform: translateY(-20px);
                            -o-transform: translateY(-20px);
                        }
                        i {
                            color: #ff2424;
                            font-size: -webkit-xxx-large;
                            text-align: center;
                        }
                        .card-body {
                            text-align: center;
                            padding-top: 0;
                        }
                    }
                }
            }
        }
        .container {
            margin: 100px 0 0 0;
            .row {
                .blog {
                    @includeflex_column(): ;
                    padding: 60px;
                    background-color: rgb(231, 231, 231);
                    border-radius: 13px;
                    -webkit-border-radius: 13px;
                    -moz-border-radius: 13px;
                    -ms-border-radius: 13px;
                    -o-border-radius: 13px;
                    .titr {
                        text-align: center;
                        margin-bottom: 20px;
                    }
                    .news_blog {
                        .row {
                            .col {
                                .card {
                                    img {
                                        border-radius: 15px 15px 0 0;
                                        -webkit-border-radius: 15px 15px 0 0;
                                        -moz-border-radius: 15px 15px 0 0;
                                        -ms-border-radius: 15px 15px 0 0;
                                        -o-border-radius: 15px 15px 0 0;
                                    }
                                    .card-body {
                                        border-radius: 0 0 5px 5px;
                                        -webkit-border-radius: 0 0 5px 5px;
                                        -moz-border-radius: 0 0 5px 5px;
                                        -ms-border-radius: 0 0 5px 5px;
                                        -o-border-radius: 0 0 5px 5px;
                                        h5 {
                                            color: rgb(230, 61, 61);
                                        }
                                        p {
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        // coding main web --------------
    }
}

// start the coding responsiv mode 
@media screen and (max-width:520px) {
    body {
        .container {
            main {
                .head {
                    margin: 100px 0 0 0;
                }
            }
        }
    }
}

// this is a media query for timer in tablet mode . . .
@media screen and (max-width: 995px) {
    body {
        .container {
            main {
                .timer {
                    width: 100%;
                    .container {
                        .row {
                            background-position: left;
                            width: 100%;
                            padding: 0;
                            justify-content: center;
                            .timer-item {
                                width: 100%;
                                justify-content: center;
                                align-items: center;
                                .text {
                                    padding: 15px;
                                    width: 100%;
                                    text-align: center;
                                    justify-content: center;
                                    h3 {
                                        font-size: 20px;
                                    }
                                    h1 {
                                        font-size: 30px;
                                    }
                                }
                                #countdown {
                                    ul {
                                        padding: 0 10px 0 20px;
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: flex-end;
                                        align-items: center;
                                        li {
                                            width: 80px;
                                            height: 85px;
                                            font-size: 15px;
                                            span {
                                                font-size: 25px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// this is a media query for timer 
@media screen and (max-width: 400px) {
    body {
        .container {
            main {
                .timer {
                    width: 100%;
                    .container {
                        .row {
                            background-position: left;
                            width: 100%;
                            padding: 0;
                            justify-content: center;
                            .timer-item {
                                width: 100%;
                                .text {
                                    padding: 15px;
                                    width: 100%;
                                    text-align: center;
                                    justify-content: center;
                                    h3 {
                                        font-size: 20px;
                                    }
                                    h1 {
                                        font-size: 30px;
                                    }
                                }
                                #countdown {
                                    ul {
                                        padding: 0 10px 0 20px;
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: flex-end;
                                        align-items: center;
                                        li {
                                            width: 50px;
                                            height: 50px;
                                            font-size: 7px;
                                            span {
                                                display: block;
                                                font-size: 10px;
                                                color: black;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}