* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* -------------------- start the coding . . .*/
html,
body {
  scroll-behavior: smooth;
}

body {
  /* --------------- container for all header for responsive */
}

body .loader-container {
  position: absolute;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.932);
  min-height: 100vh;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

body .loader-container .loader {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .loader-container .loader span {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  margin: 10px auto;
  -webkit-box-shadow: 1px 5px 5px #ffc165;
          box-shadow: 1px 5px 5px #ffc165;
  background-color: #e00000;
  -webkit-animation: loading 1s linear infinite;
  animation: loading 1s linear infinite;
}

@-webkit-keyframes loading {
  0% {
    height: 15px;
  }
  50% {
    height: 90px;
  }
  100% {
    height: 15px;
  }
}

@keyframes loading {
  0% {
    height: 15px;
  }
  50% {
    height: 90px;
  }
  100% {
    height: 15px;
  }
}

body .loaded {
  opacity: 0;
  visibility: hidden;
}

body .indicator-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3px;
  direction: rtl;
  z-index: 20;
}

body .indicator-container .indicator {
  width: 0;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(orange));
  background: linear-gradient(red, orange);
  -webkit-box-shadow: 0 3px 7px #ff8b8b;
          box-shadow: 0 3px 7px #ff8b8b;
}

body .container .row {
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

body .container .row .navbar {
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
  padding: 10px;
  /* ----------------- navbar */
}

body .container .row .navbar .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
  font-size: 22px;
  font-weight: 500;
}

body .container .row .navbar .collapse {
  text-align: center;
}

body .container .row .navbar .collapse .navbar-nav {
  margin: 0 100px;
  text-align: center;
}

body .container .row .navbar .collapse .navbar-nav .nav-item {
  margin: 0 2px;
}

body .container .row .navbar .collapse .navbar-nav .nav-item .nav-link {
  padding: 10px 15px;
  font-weight: 500;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

body .container .row .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #e60202;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

body .container .row .navbar .collapse .navbar-nav .nav-item .active {
  background: #ff4141;
  color: white;
  transition: ease-in all .5s;
  -webkit-transition: ease-in all .5s;
  -moz-transition: ease-in all .5s;
  -ms-transition: ease-in all .5s;
  -o-transition: ease-in all .5s;
}

body .container .row .navbar .icons a {
  text-decoration: none;
  color: black;
  font-size: medium;
  margin: 0 6px;
  padding: 5px;
  border-radius: 15%;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

body .container .row .navbar .icons a i {
  font-weight: bold;
}

body .container .row .navbar .icons a:hover {
  background: brown;
  border-radius: 50%;
  color: whitesmoke;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

body .container .row .sticky {
  background-color: rgba(255, 255, 255, 0.877);
  border-radius: 0 0 15px 15px;
  padding: 20px 25px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: ease-in-out all .5s;
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  -ms-border-radius: 0 0 15px 15px;
  -o-border-radius: 0 0 15px 15px;
  -webkit-transition: ease-in-out all .5s;
  -moz-transition: ease-in-out all .5s;
  -ms-transition: ease-in-out all .5s;
  -o-transition: ease-in-out all .5s;
}

body header {
  /*---------------- slider */
}

body header .carousel .carousel-inner .carousel-item {
  position: relative;
}

body header .carousel .carousel-inner .carousel-item img {
  border-radius: 0 0 30px 30px;
}

body header .carousel .carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  left: 60px;
  top: 35%;
  text-align: left;
}

body header .carousel .carousel-inner .carousel-item .carousel-caption h3 {
  font-size: small;
  font-weight: bold;
}

body header .carousel .carousel-inner .carousel-item .carousel-caption h1 {
  font-size: 50px;
  font-family: 'Changa One', cursive;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.664);
}

body header .carousel .carousel-inner .carousel-item .carousel-caption p {
  width: 50%;
  font-weight: bold;
}

body header .carousel .carousel-inner .carousel-item .carousel-caption a {
  font-weight: bold;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .head {
  text-align: center;
  margin: 90px 100px 0 100px;
  padding: 0 40px;
}

body main .head h4 {
  font-family: "Changa One", cursive;
  font-weight: unset;
  font-size: xx-large;
}

body main .head p {
  font-weight: bold;
  line-height: 2;
}

body main .row {
  background: none;
}

body main .row .col .card {
  border: none;
  background: none;
}

body main .row .col .card a {
  text-decoration: none;
}

body main .row .col .card a img {
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.356);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.356);
  -webkit-transition: ease all 0.5s;
  transition: ease all 0.5s;
  overflow: hidden;
}

body main .row .col .card a img:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.555);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.555);
  cursor: pointer;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

body main .row .col .card .card-body {
  text-align: center;
}

body main .row .col .card .card-body h5 {
  font-family: 'Changa One', cursive;
  font-weight: unset;
  font-size: larger;
}

body main .trends {
  margin: 100px 0 0 0;
}

body main .trends .col .card {
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.295);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.295);
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
  position: relative;
}

body main .trends .col .card:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.637);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.637);
  cursor: pointer;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

body main .trends .col .card img {
  border-radius: 10px;
}

body main .trends .col .card .card-img-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}

body main .trends .col .card .card-img-overlay h5 {
  font-size: 15px;
}

body main .trends .col .card .card-img-overlay h4 {
  font-size: 20px;
  color: white;
  text-shadow: 0 2px 2px black;
  font-weight: bold;
}

body main .trends .col .card .card-img-overlay a {
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.856);
  text-decoration: none;
  color: #070000;
  border-bottom: 1px solid #070000;
  padding: 5px 0;
  font-size: 12px;
}

body main .trendig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .trendig .row .col .card {
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 5px rgba(2, 2, 2, 0.397);
          box-shadow: 0 2px 5px rgba(2, 2, 2, 0.397);
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

body main .trendig .row .col .card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: ease all .4s;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transition: ease all .4s;
  -moz-transition: ease all .4s;
  -ms-transition: ease all .4s;
  -o-transition: ease all .4s;
}

body main .trendig .row .col .card img {
  background-color: #eaeaea;
  overflow: hidden;
  height: 230px;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: ease-in-out all .4s;
  transition: ease-in-out all .4s;
}

body main .trendig .row .col .card .card-body {
  padding-bottom: 0;
  transition: ease-in-out all .4s;
  -webkit-transition: ease-in-out all .4s;
  -moz-transition: ease-in-out all .4s;
  -ms-transition: ease-in-out all .4s;
  -o-transition: ease-in-out all .4s;
  position: relative;
}

body main .trendig .row .col .card .card-body .stars {
  margin-bottom: 10px;
}

body main .trendig .row .col .card .card-body .stars .bi-star-fill {
  color: goldenrod;
}

body main .trendig .row .col .card .card-body .text {
  -webkit-transition: ease-in-out all .3s;
  transition: ease-in-out all .3s;
}

body main .trendig .row .col .card .card-body .text a {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 5%;
  width: 90%;
  -webkit-transition: ease-in-out all .3s;
  transition: ease-in-out all .3s;
}

body main .trendig .row .col .card:hover .card-body {
  transform: translateY(-87px);
  background: white;
  border-radius: 30px 30px 0 0;
  transition: ease-in-out all .4s;
  -webkit-transform: translateY(-87px);
  -moz-transform: translateY(-87px);
  -ms-transform: translateY(-87px);
  -o-transform: translateY(-87px);
  -webkit-transition: ease-in-out all .4s;
  -moz-transition: ease-in-out all .4s;
  -ms-transition: ease-in-out all .4s;
  -o-transition: ease-in-out all .4s;
}

body main .trendig .row .col .card:hover .card-body .text a {
  visibility: visible;
  opacity: 1;
  transform: translatexY(0px);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transition: ease-in-out all .3s;
  transition: ease-in-out all .3s;
}

body main .trendig .row .col .card:hover img {
  -webkit-filter: sepia(0.15);
          filter: sepia(0.15);
  transition: ease-in-out all .4s;
  -webkit-transition: ease-in-out all .4s;
  -moz-transition: ease-in-out all .4s;
  -ms-transition: ease-in-out all .4s;
  -o-transition: ease-in-out all .4s;
}

body main .trendig .row .col .card .new ::before {
  content: "new";
  color: white;
  background-color: red;
  padding: 5px 10px;
  border-radius: 10px;
  position: absolute;
  top: 15px;
  right: 15px;
}

body main .timer {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .timer .container .row {
  position: relative;
}

body main .timer .container .row .baner {
  padding: 0;
}

body main .timer .container .row .baner img {
  padding: 0;
  width: 100%;
  border-radius: 30px;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.404);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.404);
}

body main .timer .container .row .timer-item {
  position: absolute;
  right: 5%;
  top: 20%;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .timer .container .row .timer-item .text {
  direction: ltr;
}

body main .timer .container .row .timer-item .text h3 {
  color: red;
  font-size: 20px;
}

body main .timer .container .row .timer-item .text h1 {
  color: black;
  font-family: "Changa One", cursive;
  font-size: 40px;
}

body main .timer .container .row .timer-item #countdown ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .timer .container .row .timer-item #countdown ul li {
  width: 100px;
  height: 100px;
  list-style: none;
  padding: 1em;
  text-transform: uppercase;
  background: white;
  border-radius: 50%;
  text-align: center;
  margin: 10px;
}

body main .timer .container .row .timer-item #countdown ul li span {
  display: block;
  font-size: 30px;
  color: black;
}

body main .red-icon-cards {
  margin-top: 100px;
}

body main .red-icon-cards .row .col .card {
  padding: 5px;
  border-radius: 30px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.116);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.116);
  -webkit-transition: ease-out all .5s;
  transition: ease-out all .5s;
}

body main .red-icon-cards .row .col .card:hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: ease-out all .5s;
  -webkit-box-shadow: 0 6px 5px rgba(0, 0, 0, 0.37);
          box-shadow: 0 6px 5px rgba(0, 0, 0, 0.37);
  -webkit-transition: ease-out all .5s;
  -moz-transition: ease-out all .5s;
  -ms-transition: ease-out all .5s;
  -o-transition: ease-out all .5s;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

@media screen and (max-width: 520px) {
  body .container main .head {
    margin: 100px 0 0 0;
  }
}

@media all and (max-width: 768px) {
  body main .timer .container .row .text h3 {
    font-size: smaller;
  }
  body main .timer .container .row .text h1 {
    font-size: larger;
  }
  body main .timer .container .row .text p {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  body main .timer .container .row #countdown ul li {
    font-size: 1.125rem;
    padding: .75rem;
  }
  body main .timer .container .row #countdown ul li span {
    font-size: 3.375rem;
  }
}
/*# sourceMappingURL=style.css.map */